*************************************************
This server is property of <%= node['company'] %>
<% if node['pci']['in_scope'] %>
This server is in scope for PCI!
<% end %>
*************************************************
